<h1>Sign In</h1>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email, :required => false, :label => "Email: ", :input_html => {:size => 20} %>
  <br/>
  <br/>
  <%= f.input :password, :required => false, :label => "Password: ", :input_html => {:size => 20} %>
  <br/>
  <br/>
  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  <br/>
  <br/>
  <div class="submit-button">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
